body {
  font-family: "Calibri", "Helvetica", "Arial", sans-serif;
}
p {
  font-size: 1.5em;
}
button {
  font-family: "Calibri", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
  border: 0;
  height: 45px;
  background-color: #588bd1;
  color: white;
}
button:hover {
  background-color: #689be1;
}
button:active {
  background-color: #386bb1;
}